<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   version="3.0">

	<description><![CDATA[My ZK Application]]></description>
	<display-name>theme.dsp.zk</display-name>
	
   <servlet>
     <description>ZK loader for ZUML pages</description>
     <servlet-name>zkLoader</servlet-name>
     <servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>

     <!-- Must. Specifies URI of the update engine (DHtmlUpdateServlet).
     It must be the same as <url-pattern> for the update engine.
     -->
     <init-param>
       <param-name>update-uri</param-name>
       <param-value>/zkau</param-value>
     </init-param>
      <!-- Optional. Specifies whether to compress the output
      of the ZK loader. It speeds up the transmission over slow Internet.
      However, if you configure a filter to post-processing the
      output, you might have to disable it.

      Default: true
      <init-param>
         <param-name>compress</param-name>
         <param-value>true</param-value>
      </init-param>
      -->
      <!-- [Optional] Specifies the default log level: OFF, ERROR, WARNING,
         INFO, DEBUG and FINER. If not specified, the system default is used.
      <init-param>
         <param-name>log-level</param-name>
         <param-value>OFF</param-value>
      </init-param>
      -->
      <load-on-startup>1</load-on-startup><!-- Must -->
   </servlet>

   <!-- [Optional]
   Uncomment if you want to use the ZK filter to post process the HTML output
   generated by other technology, such as JSP and velocity.
   <filter>
      <filter-name>zkFilter</filter-name>
      <filter-class>org.zkoss.zk.ui.http.DHtmlLayoutFilter</filter-class>
      <init-param>
         <param-name>extension</param-name>
         <param-value>html</param-value>
      </init-param>
      <init-param>
         <param-name>compress</param-name>
         <param-value>true</param-value>
      </init-param>
   </filter>
   <filter-mapping>
      <filter-name>zkFilter</filter-name>
      <url-pattern>your URI pattern</url-pattern>
   </filter-mapping>
   -->

   <servlet>
      <servlet-name>dspLoader</servlet-name>
      <servlet-class>org.zkoss.web.servlet.dsp.InterpreterServlet</servlet-class>
      <init-param>
         <param-name>class-resource</param-name>
         <param-value>false</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>dspLoader</servlet-name>
      <url-pattern>*.dsp</url-pattern>
   </servlet-mapping>

    <servlet-mapping> 
      <servlet-name>zkLoader</servlet-name> 
      <url-pattern>*.xhtml</url-pattern> 
    </servlet-mapping>

   <welcome-file-list>
      <welcome-file>index.zul</welcome-file>
      <welcome-file>index.xhtml</welcome-file>
   </welcome-file-list>
	
	
</web-app>
